body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 1rem 2rem;
    color: white;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;

}
.navbar a{
    color: white;
    text-decoration: solid;
}
.hero {
  text-align: center;
  background-color: black;
  padding: 50px 20px;
}

.hero button{
    padding: 0.75rem 1.5rem;
    background-color: brown;
    border: mediumblue;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.hero-img{
    
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
footer{
    text-align: center;
    background-color: tomato;
    padding: 1rem;
    color: white;
}